<div class="container">
  <p>Karma is the default test runner for applications created with the Angular CLI.</p>

  <h2 class="text-uppercase">testing frameworks </h2>
  <ul class="list-unstyled">
    <li>
      <h3>Jasmine</h3>
    </li>
    <li>
      <h3>Mocha</h3>
    </li>
    <li>
      <h3>QUnit</h3>
    </li>
  </ul>

  <h2 class="text-capitalize">integration services</h2>
  <ul class="list-unstyled">
    <li>
      <h3>Jenkins</h3>
    </li>
    <li>
      <h3>TravisCI</h3>
    </li>
    <li>
      <h3>CircleCI</h3>
    </li>
  </ul>
</div>
