<div class="container">
 <h3 class="d-inline">Karma</h3>
  <p class="d-inline ml-1">is the default test runner for applications created with the Angular CLI.</p>

  <h2 class="text-uppercase">testing frameworks </h2>
  <hr>
  <ul class="list-unstyled">
    <li>
      <h3 class="d-inline">Jasmine</h3>
      <p class="d-inline ml-1">is a behavior-driven development framework for testing JavaScript code that plays very well with Karma.</p>
      <p class="d-inline ml-1">Jasmine is also dependency free and doesn’t require a DOM.</p>
      <p>The most notable example would be spies. A spy allows us to “spy” on a function and track attributes about it such as whether or not it was called, how many times it was called, and with which arguments it was called. With a framework like Mocha, spies are not built-in and would require pairing it with a separate library like Sinon.js.</p>
    </li>
    <li>
      <h3>Mocha</h3>
    </li>
    <li>
      <h3>QUnit</h3>
    </li>
  </ul>

  <h2 class="text-capitalize">integration services</h2>
  <hr>
  <ul class="list-unstyled">
    <li>
      <h3>Jenkins</h3>
    </li>
    <li>
      <h3>TravisCI</h3>
    </li>
    <li>
      <h3>CircleCI</h3>
    </li>
  </ul>

  <div class="row">
    <pre>
      {{code}}
    </pre>
  </div>
</div>
